

/*--- header ---*/

/* overlay para el menu js*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 998; /* debajo del menú, que está en 999 */
  display: none;
  background: rgba(0, 0, 0, 0.678);
  display: none;
}

.show-overlay {
  display: block;
}

.header-solid {
    background-color: var(--deep-blue);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  }
  
  /* Navbar glass */
  .header-glass {
    background-color: rgba(11, 9, 10, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* para Safari */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  }

  /*blur img to cooming soon websites*/

  .blur-img {
    filter: blur(15px);
  }

  /* animacion bounce*/
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .logo-bounce {
    animation: bounce 2s infinite ease-in-out;
  }